@(feedList: List[Feed])
@import models.Feed

    <!-- FEED -->

@main("Feed") {

    <div id="feed" data-magellan-destination="feed">
    @if(feedList.nonEmpty) {

        @for(feed <- feedList) {
            <div class="row">

                <div class="small-3 columns imagepreviewbox">
                    <a class="th" href="@feed.pictureUrl">
                        <img src="@feed.pictureUrl">
                    </a>
                </div>

                    <!-- TEXT -->
                <div class="medium-9 columns">

                        <!-- HEADER -->
                    <h3>@feed.messageTitle</h3>
                    <h9>@feed.user.firstName @feed.user.lastName, @feed.club.name</h9>
                    <br />

                        <!-- PARAGRAPH -->
                    <h9><small>Dato: @feed.dateTime.getDayOfMonth
                        / @feed.dateTime.getMonthOfYear - @feed.dateTime.getYear
                        <br>
                        Tid: @feed.dateTime.getHourOfDay
                        : @feed.dateTime.getMinuteOfHour
                    </small><br></h9>
                    <h5>@feed.message <br /> <br /></h5>
                </div>
            </div>
        }
    } else {
        <div class="row">
            <div class="large-12 columns text-center">

                    <!-- HEADER -->
                <h3>Ingen feeds å vise</h3>

            </div>
        </div>
    }
    </div>
}
