@(title: String, navIdent: String)(content: Html)

@main(title) {
    <dl class="sub-nav">
        <dd @if("site".eq(navIdent)){class="active"}>
            <a href="@routes.Administration.showSite()">Hovedadmin</a>
        </dd>
        <dd @if("index".eq(navIdent)){class="active"}>
            <a href="@(routes.InitiationAdminController.index())">Fadderadmin</a>
        </dd>
        <dd @if("club".eq(navIdent)){class="active"}>
            <a href="@(routes.ClubAdminController.index())">Foreningsadmin</a>
        </dd>
    </dl>

    @content
}
