@(locations: List[Location])

@main("Nettsideadministrasjon") {
    <script src="@routes.Assets.at("javascripts/admin.js")" type="text/javascript"></script>

    <div class="row">
        <div class="medium-6 columns">
            <form action="@routes.Clubs.create()" method="post">
                <ul class="pricing-table">
                    <li>
                        <label class="title">
                            Utvalgsnavn:
                            <input type="text" name="name" value="Navn på utvalg">
                        </label>
                    </li>
                    <li>
                        <label class="bullet-item">
                            Forkortelse:
                            <input type="text" name="shortName" value="Forkortelse">
                        </label>
                    </li>
                    <li>
                        <label class="bullet-item">
                            Leders e-post
                            <input id="leader-email" type="text" name="leader" value="leder@@student.westerdals.no">
                        </label>
                    </li>
                    <li class="cta-button">
                        <input class="button newclub" type="submit" name="submit" value="Opprett utvalg">
                    </li>
                </ul>
            </form>
        </div>
        <div class="medium-6 columns">
        @for(location <- locations) {
            <form class="pricing-table medium-12 columns" action="@routes.Administration.updateLocation()" method="post">
                <input type="hidden" name="id" value="@location.id">
                <label class="bullet-item medium-8 columns">
                    <input type="text" name="name" value="@location.name">
                </label>
                <input class="button medium-4 columns alert right" type="submit" name="submit" value="Oppdater">
            </form>
        }
        </div>
    </div>
    <script>
        $(document ).ready(admin());
    </script>
}