@(locations: java.util.List[Location], clubList: java.util.List[Club], initGroups: java.util.List[InitiationGroup], maxGroup: Integer)

@main("Nettsideadministrasjon") {
    <script src="@routes.Assets.at("javascripts/admin.js")" type="text/javascript"></script>

    <div class="row">

            <!-- Create club -->
        <div class="medium-6 columns">
            <form class="email-check-form" action="@routes.Clubs.create()" method="post">
                <ul class="pricing-table">
                    <li>
                        <div class="title">
                            <span>Opprett utvalg</span>
                        </div>
                    </li>
                    <li>
                        <label class="bullet-item text-left">
                            Utvalgsnavn:
                            <input type="text" name="name" placeholder="Skriv inn navnet på utvalget" required>
                        </label>
                    </li>
                    <li>
                        <label class="bullet-item text-left">
                            Forkortelse:
                            <input type="text" name="shortName" placeholder="Forkortelse" required>
                        </label>
                    </li>
                    <li class="bullet-item small-12 columns">
                        <div class="row collapse">
                            <label class="small-7 columns text-left">
                                Leders e-post
                                <input class="user-email" type="text" name="leader" placeholder="leders email" required>
                            </label>
                            <label class="small-5 columns">
                                <br>
                                <span class="postfix">@@student.westerdals.no</span>
                                <input class="email-postfix" type="hidden" name="postfix" value="@@student.westerdals.no">
                            </label>
                        </div>
                    </li>
                    <li class="bullet-item">
                        <label class="text-left">
                            Lokasjon
                            <select name="location">
                                <option value="-1">Felles</option>
                                @for(location <- locations) {
                                    <option value="@location.id">@location.name</option>
                                }
                            </select>
                        </label>
                    </li>
                    <li class="cta-button">
                        <input class="button newclub" type="submit" value="Opprett utvalg">
                    </li>
                </ul>
            </form>
        </div>

            <!-- Location table edit -->
        <div class="medium-6 columns">
            <ul class="pricing-table">
                <li class="title">
                    <span>Endre navn på lokasjoner</span>
                </li>
                @for(location <- locations) {
                    <li class="bullet-item row collapse">
                        <form class="medium-12 columns updateLocation" action="@routes.Administration.updateLocation()" method="post">
                            <input class="locationId" type="hidden" name="id" value="@location.id">
                            <label class="medium-8 columns">
                                <input class="locationName" type="text" name="name" value="@location.name">
                            </label>
                            <input class="button medium-4 columns alert right" type="submit" name="submit" value="Oppdater">
                        </form>
                    </li>
                }
            </ul>
        </div>

            <!-- Club delete -->
        <div id="clubDelete" class="medium-6 columns">
            <a class="button alert" data-reveal-id="deleteModal">Slett utvalg</a>
                <!-- class deleteModal must not be removed -->
            <div id="deleteModal" class="reveal-modal deleteModal" data-reveal>
                <h2>Sletting av utvalg</h2>
                <p class="lead">
                    Når du sletter et utvalg fjernes alle medlemmer, eventer og tilhørende utvalgsrelatert info.
                    <br>Vær sikker på at du sletter korrekt utvalg</p>

                    <!-- class confirmDelete must not be removed -->
                <input class="confirmDelete" type="text" placeholder="Skriv navn på utvalg fra listen her">

                    <!-- class deleteClub must not be removed -->
                <form class="pricing-table medium-12 columns deleteClub" action="@routes.Administration.deleteClub()" method="post">
                    <br>
                    <label>Sletting av utvalg</label>
                    <br>
                    <label>
                        Utvalg:
                        <select>
                        @for(club <- clubList) {
                                <!-- class clubId and data-club-name must not be removed -->
                            <option class="clubId" data-club-name="@club.name" value="@club.id">@club.name</option>
                        }
                        </select>
                    </label>
                    <input class="button medium-4 columns alert" type="submit" value="Slett Utvalg">
                </form>
                <a class="close-reveal-modal">&#215;</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="addguardian" class="medium-12">
            <form class="email-check-form" method="post" action="@routes.Administration.addGuardian()">
                <ul class="pricing-table">
                    <li class="title">
                        <span>Legg til fadder</span>
                    </li>
                    <li class="bullet-item row collapse">
                        <div class="medium-12 columns">
                            <form>
                                <div class="medium-1 columns left">
                                    <label class="text-left">Gruppe
                                        <input type="number" name="group-number" min="1" max="@(maxGroup+1)" placeholder="@maxGroup">
                                    </label>
                                </div>
                                <div class="medium-4 columns">
                                    <div class="row collapse">

                                        <label class="small-4 columns text-left">
                                            Fadder
                                            <input id="guardian-email" class="user-email" type="text" name="guardian" placeholder="e-post" required>
                                        </label>
                                        <label class="small-8 columns">
                                            <br>
                                            <span class="postfix">@@student.westerdals.no</span>
                                            <input class="email-postfix" type="hidden" name="postfix" value="@@student.westerdals.no">
                                        </label>
                                    </div>
                                </div>
                                <div class="medium-2 columns text-left">
                                    <label>
                                        Telephone:
                                        <input type="tel" name="phone" placeholder="eks: 123 45 678">
                                    </label>
                                </div>
                                <div class="medium-3 columns text-left">
                                    <label>
                                        Lokasjon
                                        <select name="location">
                                        @for(location <- locations) {
                                            <option value="@location.id">@location.name</option>
                                        }
                                        </select>
                                    </label>
                                </div>
                                <div class="medium-2 columns">
                                    <button class="update-init-group button right">Lagre</button>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
        <ul class="pricing-table">
            <li class="title">Endre faddere</li>
            @for(initGroup <- initGroups) {
                <li class="bullet-item row collapse">
                    <div class="medium-12 columns">
                        <form class="email-check-form" method="post" action="@routes.Administration.addGuardian()">
                            <div class="medium-1 columns left">
                                <label class="text-left">Gruppe
                                    <input type="number" name="group-number" min="1" max="@(maxGroup+1)" value="@initGroup.getGroupNumber">
                                </label>
                            </div>
                            <div class="medium-4 columns">
                                <div class="row collapse">

                                    <label class="small-4 columns text-left">
                                Fadder
                                        <input id="guardian-email" class="user-email" type="text" name="guardian" placeholder="fadders e-post"
                                        value="@initGroup.getGuardian.email.substring(0, initGroup.getGuardian.email.indexOf("@"))" required>
                                    </label>
                                    <label class="small-8 columns">
                                        <br>
                                        <span class="postfix">@@student.westerdals.no</span>
                                        <input class="email-postfix" type="hidden" name="postfix" value="@@student.westerdals.no">
                                    </label>
                                </div>
                            </div>
                            <div class="medium-2 columns text-left">
                                <label>
                                    Telephone:
                                    <input type="tel" name="phone" value="@initGroup.getPhoneNumber" placeholder="eks: 123 45 678">
                                </label>
                            </div>
                            <div class="medium-2 columns text-left">
                                <label>
                                Lokasjon
                                    <select name="location">
                                        <option value="@initGroup.getLocation.id" selected>@initGroup.getLocation.name</option>
                                        @for(location <- locations) {
                                            @if(initGroup.getLocation.id != location.id) {
                                                <option value="@location.id">@location.name</option>
                                            }
                                        }
                                    </select>
                                </label>
                            </div>
                            <div class="medium-3 columns">
                                <button class="update-init-group button right">Oppdater</button>
                            </div>
                        </form>
                    </div>
                </li>
            }
        </ul>
    </div>
    <script>
    $ ( document ).ready ( admin ( ) ) ;
    </script>
}