body{
	background-color: #ffffff;
}

.headercolumn{
	top: 100px;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
footer, .push {
    height: 4em;
}
footer {
    background-color: black;
}
.footer-text {
    color: slategray;
}

#menu{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 10px;
	width: 10px;
	background-color: red;
}

.headercolumn-underpage{
	top: 20px;
}

.buttonpanellarge{
	margin-top: 300px;
	position: relative;
	padding-bottom: 80px;
}

.eventer-fixed{
	position: fixed;
	margin-left: -46px;
}

.buttonpanel-underpage{
	padding-top: 50px;
}

.buttonpanellarge-underpage{
	padding-top: 50px;
	padding-bottom: 50px;
}

.buttonpanel{
	padding-top: 250px;
}

.buttonpanelsmall{
	padding-top: 20px;
	padding-bottom: 50px;
}

.headertext{
	color: #fff;
	size: 50px;
	text-shadow: 1px 1px 1px #888888;
}

.headertextbig{
	font-size: 70px;
	text-transform: uppercase;
}

#backgroundimglarge{
	position: absolute;
	height: 500px;
	width: 100%;
	background-image: url(../img/forest.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#backgroundimgsmall{
	position: absolute;
	height: 450px;
	width: 100%;
	background-image: url(../img/forest.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
 	-o-background-size: cover;
	background-size: cover;
}

#backgroundimglarge-underpage{
	position: absolute;
	height: 230px;
	width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #000000;
}

.paragraph-date{
	margin-top: 8px;
}

.paragraph-date-events{
	margin-top: 2px;
}

#footer{
	background-color: black;

	width: 100%;
	padding-top: 30px;
}
.footertext{
	color: #ffffff;
}

#header{
	position: absolute;
	opacity: 0.3;
	top: 420px;
	width: 100%;
	height: 80px;
	background-color: #000000;
	/*box-shadow: 0 -10px 10px #000000, 0px -10px 5px;
	-moz-box-shadow: 0 -10px 10px #000000, 0px -10px 5px;*/
}

.admin-utvalg-oversikt{
    height: 360px;
    overflow: scroll;
}

.admin-faddere-oversikt{
    height: 286px;
    overflow: scroll;
}

#headersmall{
	position: absolute;
	opacity: 0.4;
	top: 360px;
	width: 100%;
	height: 90px;
	background-color: #000000;
	/*box-shadow: 0 -10px 10px #000000, 0px -10px 5px;
	-moz-box-shadow: 0 -10px 10px #000000, 0px -10px 5px;*/
}

#line{
	opacity: 0.3;
	height: 1px;
	margin-top: 15px;
	width: 80%;
	background-color: black;
}

.lineright{
	margin-left: 20%;
}

.lineleft{
	margin-right: 20%;
}

#line-big{
	opacity: 0.3;
	height: 1px;
	margin-top: 15px;
	width: 40%;
	background-color: black;
}

.lineright-big{
	margin-left: 60%;
}

.lineleft-big{
	margin-right: 60%;
}

#line-separator{
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0.3;
	height: 1px;
	width: 90%;
	background-color: black;
}


.line-separator-mid{
	margin-left: 5%;
}

.profile-photo{
	border-radius: 100%;
	width: 90%;
	height: 90%;
	margin-right: 5%;
	margin-left: 5%;
}

.footer-photos{
	border-radius: 100%;
	width: 70%;
	height: 70%;
	margin-right: 15%;
	margin-left: 15%;
}

#bold-line{
	height: 2px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	margin-bottom: 15px;
}

.utvalg-content-placement{
	margin-top: 20px;
}

.utvalg-width{
	width: 90%;
}

.event_img{
	max-height: 200px;
}

.week_nr{
	margin-left: 10px;
	margin-top: 50px;
}

.week_dates{
	margin-left: 10px;
}

.week_content{
	margin-top: 40px;
}

#commentfield{
	max-width: 100%;
}

.horizontal-separator{
	width: 1px;
	height: 100%;
	background-color: black;
	float: none;
	position: absolute;
	top: 0;
	opacity: 0.3;
	right: 40px;
}

.button-photochange{
	position: absolute;
	bottom: 25px;
	left: 30px;
	-moz-box-shadow: 0 0 10px #000000;
	box-shadow: 0 0 10px #000000;
	height: 33px;
	opacity: 1;
}

.img-gallery{
	padding-bottom: 15px;
}

img.img-gallery:hover{
	opacity: 0.8;
}

.skal-bilder{
	padding-bottom: 25px;
}

.skal-bilder img{
	-moz-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
}

.skal-bilder img:hover{
	opacity: 0.8;
	
}

.add-button{
	right: 0px;
	margin-right: 0;
}