@(eventForm: Form[Event])

@import helper._

@main("Create an Event") {

    <h1>Add an Event</h1>

    @form(routes.Events.save()) {

        <fieldset>

            @inputText(eventForm("name"), '_label -> "Computer name")
            @inputText(eventForm("introduced"), '_label -> "Introduced date")
            @inputText(eventForm("discontinued"), '_label -> "Discontinued date")

            @select(
                computerForm("company.id"),
                options(Company.options),
                '_label -> "Company", '_default -> "-- Choose a company --",
                '_showConstraints -> false
            )


        </fieldset>

        <div class="actions">
            <input type="submit" value="Create this computer" class="btn primary"> or
            <a href="@routes.Application.list()" class="btn">Cancel</a>
        </div>

    }

}