@(events: List[Event]))

@for(event <- events) {
    <div class="row">

            <!-- DATE -->
        <div class="large-2 columns text-left paragraph-date">
            <h5>@event.startTime</h5>
        </div>

            <!-- TEXT -->
        <div class="large-10 columns">

                <!-- HEADER -->
            <h3>@event.name</h3>

                <!-- PARAGRAPH -->
            <p>@event.description
            <br /><br /></p>

        </div>
    </div>

    <!-- LINE SEPARATOR -->
    <div class="row">
        <div class="small-12 columns">
            <div id="line-separator" class="line-separator-mid"></div>
            <br />
        </div>
    </div>
}