@(event: Event, user: User)

@main(event.name) {

    <div class="row">
        <h1>@event.name</h1>

        <div class="large-2 columns">
            @if(event.coverUrl == null) {<img src="https://lh4.googleusercontent.com/-ygA6-w_L9Ok/AAAAAAAAAAI/AAAAAAAAAAA/hmsXCF4KZ8k/s120-c/photo.jpg" width="100" height="100" />}
            @if(event.coverUrl != null) {<img src="@event.coverUrl" width="200" height="200" />}
        </div>
        <div class="large-6 columns left">
            <p>@event.description</p>
        </div>
    </div>
    <div class="row">
        <p class="panel callout radius">Det er totalt @event.participants.size() brukere som har meldt seg på.</p>
        <hr>
    </div>

    <div class="row">
        <p>Noen av de påmeldte</p>
        <ul class="large-block-grid-4">
        @for(participant <- event.participants.subList(0, if(event.participants.size() < 8) event.participants.size() else 8 )) {
            <li>
                <div>
                    <img src="@participant.user.pictureUrl" width="100" height="100" />
                    <p>@participant.user.firstName @participant.user.lastName</p>
                </div>
            </li>
        }
        </ul>
        <hr>
    </div>

    <div class="row">
    @if(user != null) {

        @if(!UsersInEvent.userIsParticipatingEvent(event.id, user.id)) {

            @if(!Membership.userHasMembershipInClubWithLevel(event.club.id, user.id, utils.MembershipLevel.MEMBER) &&
                    event.privacy == Event.Privacy.MEDLEMMER) {

                <p class="panel">Denne eventen er desverre kun for medlemmer av utvalget @event.club.name</p>

            } else {

                <form action="@routes.Events.participate()" method="POST">

                    <input type="hidden" id="event_id" name="event_id" value="@event.id">
                    <input type="hidden" id="user_id" name="user_id" value="@user.id">

                    <input type="submit" value="Delta" class="button radius round left">
                </form>
            }

        } else {

            <form action="@routes.Events.unparticipate()" method="POST">

                <input type="hidden" id="uie_id" name="uie_id" value="@UsersInEvent.getUserInEventId(event.id, user.id)">

                <input type="submit" value="Meld Av" class="button radius round alert left">
            </form>
        }
    } else {

        <p class="panel">Du må være inlogget for å melde deg på @event.name</p>
    }
    </div>
}