@import models.clubs.Club
@(club: Club)

@main("Administrasjon - " + club.getShortName) {
    <div class="row">
        <div class="medium-10 columns medium-centered">
            <p>Kort beskrivelse av powerups, hvordan de fungerer, og hvordan admin-panel fungerer.</p>
        </div>
    </div>
    <div class="row hide-for-medium-up">
        <div class="small-10 columns small-centered">
            <div data-alert class="alert-box alert round">
                Vi kan dessverre ikke garantere funksjonalitet for admin-panelet på Mobile enheter.
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-10 columns medium-centered">
            <div data-magellan-expedition="fixed">
                <dl class="sub-nav">
                @for(powerup <- club.getPowerups) {
                    @if(powerup.getModel.isHasMenuEntry) {
                        <dd data-magellan-arrival="@powerup.getModel.getId"><a href='#@powerup.getModel.getId'>@powerup.getModel.getFriendlyName</a></dd>
                    }
                }
                </dl>
            </div>
        </div>
    </div>
    <div class="powerup-container" data-powerups-for='@club.getId'>
        @for(powerup <- club.getPowerups) {
            @if(powerup.getModel.isHasMenuEntry) {
                <div id="@powerup.getModel.getId" data-magellan-destination="@powerup.getModel.getId">
                } else {
                <div>
                }
            <div class="row powerup" data-powerup-id="@powerup.getModel.getId">
                <div class="medium-10 medium-centered columns">
                    @if(powerup.getModel.getFriendlyName != null) {
                        <div class="small-4 columns">
                            <div id="line" class="lineright"></div>
                        </div>
                        <div class="small-4 columns text-center">
                            <h5><strong>@powerup.getModel.getFriendlyName<br /><br /></strong></h5>
                        </div>

                        <div class="small-4 columns">
                            <div id="line" class="lineleft"></div>
                        </div>
                    }
                <div class="powerup-content medium-12 columns">
                @powerup.renderAdmin()
                </div>
                </div>
            </div>
            @if(powerup.getModel.isHasMenuEntry) {
            </div>
            } else {
            </div>
            }
        }
        <script>
        $(document ).ready(powerup());
        //noinspection BadExpressionStatementJS
        $( '#alt-title' ).replaceWith( "<strong>@(club.getShortName)</strong>");
        </script>
    </div>

}
