@main("Fadderuke") {
    <div class="row">
        <div class="medium-12 columns medium-centered ">
            <div data-magellan-expedition="fixed">
                <dl class="sub-nav">
                    <dd data-magellan-arrival="program"><a href="#program">Program</a></dd>
                    <dd data-magellan-arrival="kart"><a href="#kart">Kart</a></dd>
                    <dd data-magellan-arrival="faddergrupper"><a href="#faddergrupper">Faddergrupper</a></dd>
                </dl>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="medium-12 columns">
            <img width="100%" src="@routes.Assets.at("images/fadder_header.jpeg")" alt="Banner, fadderuke" />
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="medium-11 columns medium-centered">
            <p>Her finner du en oversikt over fadderuke-programmet for alle campusene. I år blir fadderuken forskjellig for alle, utenom noen få arrangementer som blir felles for noen av campusene.</p>
        </div>
    </div>

    <div class="row">
        <div class="medium-8 columns medium-centered">
            <ul class="tabs button-group round even-3" data-tab>
                <li class="tab-title active"> <a href="#panel1" class="small button">Campus<br />Galleri</a></li>
                <li class="tab-title"> <a href="#panel2" class="small button">Campus<br />Vulkan</a></li>
                <li class="tab-title"> <a href="#panel2" class="small button">Campus<br />Grønland</a></li>
            </ul>
        </div>
    </div>

    <div class="tabs-content">

            <!-- GALLERI -->
        <div class="content active location-container" data-location-id="1" id="panel1">

            <div class="row">
                <div class="medium-12 medium-centered columns utvalg-content-placement">
                    <div class="row">
                        <br />
                        <div class="small-4 columns">
                            <div id="line" class="lineright"></div>
                        </div>
                        <div class="small-4 columns text-center">
                            <a data-magellan-destination="program" name="program"><h5><strong>Program</strong></h5></a>
                        </div>

                        <div class="small-4 columns">
                            <div id="line" class="lineleft"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="medium-12 columns">
                    <a href="#tirsdag"><h3>Tirsdag 12. august</h3></a>

                    <div id="tirsdag">

                        <div class="small-2 medium-1  columns">
                            <p><strong>11.00</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Registrering</dt>
                                <dd>Registrering av nye elever i Gallerigaten, når du er registrert kan du gå videre til auditoriet</dd>
                            </dl>
                        </div>

                        <div class="small-2 medium-1  columns">
                            <p><strong>12.00</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Velkommen til NITH</dt>
                                <dd>Rektor Eivind Brevik ønsker velkommen og forteller hvilke felles forventninger vi har til de kommende tre årene. Studiekonsulent Sophie Rostad informerer om programmet for uken.</dd>
                            </dl>
                        </div>

                        <div class="small-2 medium-1  columns">
                            <p><strong>12.15</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Inspirasjonsforedrag - IKT Norge</dt>
                                <dd>Torgeir Waterhouse er direktør for Internett og nye medier i IKT-Norge og gjester studiestart på NITH for tredje gang. Torgeir snakker varmt og engasjerende om den bransjen dere nå er på vei inn i og hvilke spennende muligheter dette åpner for dere!</dd>
                            </dl>
                        </div>

                        <div class="small-2 medium-1  columns">
                            <p><strong>13.00</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Velkommen som NITH-student</dt>
                                <dd>Studentrådsleder gir praktisk informasjon om det sosiale programmet i studiestartuka.</dd>
                            </dl>
                        </div>

                        <div class="small-2 medium-1  columns">
                            <p><strong>13.15</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Pause</dt>
                                <dd>Pause på 15 min</dd>
                            </dl>
                        </div>


                        <div class="small-2 medium-1  columns">
                            <p><strong>13.30</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Inspirasjonsforedrag - Google</dt>
                                <dd>an Grønbech er Country Manager i Google Norge og har bidratt under studiestart i en lang årrekke, og tilbakemeldingene på hans foredrag har vært enestående. Jan har evnen til å engasjere og forteller om hvordan det er å jobbe i Google; visjoner, arbeidsmetoder, lek og forventninger. Vi er glad for at Jan vil dele av sin erfaring til årets nye studenter også. Gled dere!</dd>
                            </dl>
                        </div>

                        <div class="small-2 medium-1  columns">
                            <p><strong>14.15</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Administrasjon og Bibliotek</dt>
                                <dd>Vi forteller om den studentservicen vi yter på NITH.</dd>
                            </dl>
                        </div>

                        <div class="small-2 medium-1  columns">
                            <p><strong>15.00</strong></p>
                        </div>
                        <div class="small-10 medium-11 columns">
                            <dl>
                                <dt>Rebusløp og krokveld med faddere</dt>
                                <dd>Bli kjent med Oslo, NITH og dine medstudenter. Viktig å delta denne første dagen:)</dd>
                            </dl>
                        </div>


                    </div>

                </div>

            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <h3>Onsdag 13. august</h3>




                    <div class="small-2 medium-1  columns">
                        <p><strong>11.00</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Inspirasjonsforedrag - FiNN</dt>
                            <dd>Dag Olav Norem er Produktdirektør, Brukeropplevelse i FINN.no med ansvar for det felles brukergrensesnittet på tvers av FINN's mange markedsplasser og kanaler. Dag Olav vil snakke om hvordan veksten i mobil og nettbrett leder til en omfattende transformasjon for alle internettjenester, samt FINN's strategier for å adressere de utfordringene og mulighetene som dette medfører.</dd>
                        </dl>
                    </div>

                    <div class="small-2 medium-1  columns">
                        <p><strong>11.45</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Pause</dt>
                            <dd>15 min pause</dd>
                        </dl>
                    </div>

                    <div class="small-2 medium-1  columns">
                        <p><strong>12.00</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Forskning på NITH</dt>
                            <dd>Førsteamanuensis Asle Fagerstrøm forteller hva forskning er, hva det forskes på hos NITH og hvordan dette angår deg som student.</dd>
                        </dl>
                    </div>

                    <div class="small-2 medium-1  columns">
                        <p><strong>14.00</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Pause</dt>
                            <dd>15 min pause</dd>
                        </dl>
                    </div>

                    <div class="small-2 medium-1  columns">
                        <p><strong>14.15</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Intellektuell redelighet</dt>
                            <dd>Førstelektor Wanda Presthus forteller om dine plikter som student i forhold til opphavsrett og kildehenvisninger.</dd>
                        </dl>
                    </div>

                    <div class="small-2 medium-1  columns">
                        <p><strong>14.45</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>NITO, SIO og studentutvalg</dt>
                            <dd>Informasjon og råd til studentengasjement. Studentrådsleder forteller om studentrådet, tillittsvalgte, utvalgene, SiO og NITO.

                            </dd>
                        </dl>
                    </div>

                    <div class="small-2 medium-1  columns">
                        <p><strong>15.30</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Sosialt</dt>
                            <dd>LAN med Spillutvalget</dd>
                        </dl>
                    </div>

                    <div class="row">
                        <div class="medium-12 columns">
                            <h3>Torsdag 14. august</h3>

                            <div class="small-2 medium-1  columns">
                                <p><strong>11.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>
                                        Inspirasjonsforedrag - Microsoft
                                    </dt>
                                    <dd>Petter Merok er Direktør for Teknologiutvikling i Microsoft Norge.Han er ansvarlig for faglige/teknologiske relasjoner til utviklere, forretningsutviklere, arkitekter og akademikere, og bidrar til verdiskapning gjennom innovativ bruk av ny og fremtidig teknologi fra Microsoft. Til studiestart besøker han NITH, og vi gleder oss til å høre hvilke karrieremuligheter han spår dere studenter!</dd>
                                </dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>12.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Studentkonkurranser</dt>
                                    <dd>Hvilke studentkonkurranser kan du delta på og hvorfor bør du gjøre det? Ved førsteamanuensis Tor-Morten Grønli</dd>
                                </dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>12.45</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Pause</dt>
                                    <dd>30 min pause</dd>
                                </dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>13.15</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Inspirasjon og workshop på ditt studieprogram</dt>
                                    <dd>Programansvarlig for hvert bachelorprogram arrangerer en workshop innen sitt studieprogram. Bli kjent med studentene som skal gå samme studium som deg og få bedre forståelse hva studiet egentlig går ut på. Informasjon om rom vil bli gitt før pausen.</dd>
                                </dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>15.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Experis fest i kroa!</dt>
                                    <dd>Experis arrangerer, nærmere informasjon kommer.</dd></dl>
                            </div>

                        </div></div>

                    <div class="row">
                        <div class="medium-12 columns">
                            <h3>Fredag 15. august</h3>

                            <div class="small-2 medium-1  columns">
                                <p><strong>11.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Inspirasjonsforedrag - Creuna</dt>
                                    <dd>Eirik Norman Hansen er Director of Business Development i byrået Creuna. Eirik er en viktig sparringspartner for faglig utvikling på NITH, og kjenner våre studenter godt gjennom hovedprosjekt og gjesteforelesninger. I år besøker han studiestartuka med et inspirasjonsforedrag om markedet sett fra et digitalt byrå sitt ståsted!</dd></dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>11.45</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Pause</dt>
                                    <dd>15 min pause</dd></dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>12.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Lese- og studieteknikk</dt>
                                    <dd>Førstelektor Aage Rognsaa gir gode tips om hvordan du kan effektivisere og forbedre dine leseferdigheter, og strukturere studiehverdagen.</dd></dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>12.45</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Pause</dt>
                                    <dd>30 min pause</dd></dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>13.15</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Tema: Hovedprosjekt</dt>
                                    <dd>Førsteamanuensis Tor-Morten Grønli forteller om hva hovedprosjekt på NITH er og hvordan bør du som student forberede deg til hovedprosjektet allerede nå. Vi får besøk fra hovedprosjektgrupper som gikk ut våren 2012 som forteller om oppgavene, gir tips og viser sine løsninger.</dd></dl>
                            </div>

                            <div class="small-2 medium-1  columns">
                                <p><strong>15.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Sosialt</dt>
                                    <dd>Grillfest på Hovedøya (med værforbehold. Evt. quizkveld)</dd></dl>
                            </div>

                        </div></div>

                    <div class="row">
                        <div class="medium-12 columns">
                            <h3>Lørdag 16. august</h3>

                            <div class="small-2 medium-1  columns">
                                <p><strong>18.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Storfest</dt>
                                    <dd>Faddergruppa arrangerer, nærmere informasjon kommer.</dd></dl>
                            </div>

                        </div></div>

                    <div class="row">
                        <div class="medium-12 columns">
                            <h3>Søndag 17. august</h3>

                            <div class="small-2 medium-1  columns">
                                <p><strong>12.00</strong></p>
                            </div>
                            <div class="small-10 medium-11 columns">
                                <dl>
                                    <dt>Kleinesøndag på skolen</dt>
                                    <dd>Fadderkomitéen fikser gratis egg og bacon til frokost!</dd></dl>
                            </div>

                        </div></div>



                </div>
                <div class="medium-12 medium-centered columns utvalg-content-placement">
                    <div class="row">
                        <br />
                        <div class="small-4 columns">
                            <div id="line" class="lineright"></div>
                        </div>
                        <div class="small-4 columns text-center">
                            <a data-magellan-destination="kart" name="kart"><h5><strong>Kart</strong></h5></a>
                        </div>

                        <div class="small-4 columns">
                            <div id="line" class="lineleft"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="small-11 columns small-centered hide-for-small">

                    <iframe src="https://mapsengine.google.com/map/embed?mid=z5Ipoz82k22g.k6M2olnofro8" width="100%" height="480"></iframe>
                </div>

            </div>

            <div class="row">
                <div class="small-11 columns small-centered show-for-small">
                    <div data-alert class="alert-box info radius">
                        Trykk på bildet for å se fullt kart
                        <a href="#" class="close">&times;</a>
                    </div>
                    <a href="https://mapsengine.google.com/map/edit?mid=z5Ipoz82k22g.k6M2olnofro8"><img src="@routes.Assets.at("images/gmaps-mobile.png")" alt="" /></a>

                    <p>
                        A: #fuBar<br />
                        C: Andy's Pub <br />
                        D: Olympen <br />
                        E: Cafe Con Bar <br />
                        F: Justisen <br />
                        G: Fiasco <br />
                        H: Oslo Domkirke <br />

                    </p>
                </div>
            </div>


            <div class="medium-12 medium-centered columns utvalg-content-placement">
                <div class="row">
                    <br />
                    <div class="small-4 columns">
                        <div id="line" class="lineright"></div>
                    </div>
                    <div class="small-4 columns text-center">
                        <a data-magellan-destination="faddergrupper" name="faddergrupper"><h5><strong>Faddergrupper</strong></h5></a>
                    </div>

                    <div class="small-4 columns">
                        <div id="line" class="lineleft"></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="medium-10 columns medium-centered">
                    <p>Her kan du søke etter faddere, for å finne kontaktinformasjon til dine faddere.</p>
                </div>
            </div>

            <div class="row">
                <div class="medium-10 columns medium-centered">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input class="initiation-input" type="text" placeholder="Skriv inn navn eller gruppenummer">
                        </div>
                        <div class="small-2 columns">
                            <button class="button postfix initiation-search">Søk</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row guardian-container">

            </div>
        </div>

            <!-- VULKAN -->
        <div class="content" id="panel2">
        </div>

            <!-- GRØNLAND -->
        <div class="content" id="panel3">

        </div>
    </div>
    <script>
    $ ( document ).ready(initiationSearch());
    </script>

}