@main("Fadderuke") {
    <div class="row">
        <div class="medium-12 columns medium-centered ">
            <div data-magellan-expedition="fixed">
                <dl class="sub-nav">
                    <dd data-magellan-arrival="program"><a href="#program">Program</a></dd>
                    <dd data-magellan-arrival="kart"><a href="#kart">Kart</a></dd>
                    <dd data-magellan-arrival="grupper"><a href="#grupper">Grupper</a></dd>
                </dl>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="medium-12 columns">
            <img width="100%" src="@routes.Assets.versioned("images/fadder_header.jpeg")" alt="Banner, fadderuke" />
        </div>
    </div>

    <br /> <br />

    <div class="row">
        <div class="medium-11 columns medium-centered">
            <p>Her finner du en oversikt over fadderuke-programmet for alle campusene. I år blir fadderuken forskjellig for alle, utenom noen få arrangementer som blir felles for noen av campusene.</p>
        </div>
    </div>

    <div class="row">
        <div class="medium-8 columns medium-centered">
            <ul class="tabs button-group round even-3" data-tab>
                <li class="tab-title active"> <a href="#panel1" class="small button text-center">Campus<br />
                    Galleri</a></li>
                <li class="tab-title"> <a href="#panel2" class="small button text-center">Campus<br />Vulkan</a></li>
                <li class="tab-title"> <a href="#panel2" class="small button text-center">Campus<br />Grønland</a></li>
            </ul>
        </div>
    </div>

    <div class="tabs-content">

            <!-- GALLERI -->
        <div class="content active location-container" data-location-id="1" id="panel1">

            <div class="row">
                <div class="medium-12 medium-centered columns utvalg-content-placement">
                    <div class="row">
                        <br />
                        <div class="small-4 columns">
                            <div id="line" class="lineright"></div>
                        </div>
                        <div class="small-4 columns text-center">
                            <a data-magellan-destination="program" name="program"><h5><strong>Program</strong></h5></a>
                        </div>

                        <div class="small-4 columns">
                            <div id="line" class="lineleft"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="medium-12 columns">
                    <h3>Lørdag 16. august</h3>

                    <div class="small-2 medium-1  columns">
                        <p><strong>18.00</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Vorspiel, Storfest</dt>
                            <dd>Faddere arrangerer vorspiel.</dd></dl>
                    </div>
                    <div class="small-2 medium-1  columns">
                        <p><strong>21.00</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Storfest</dt>
                            <dd>Vi har booket Café con Bar, i Brugata. Dørene åpner klokken 21.</dd></dl>
                    </div>

                </div></div>

            <div class="row">
                <div class="medium-12 columns">
                    <h3>Søndag 17. august</h3>

                    <div class="small-2 medium-1  columns">
                        <p><strong>12.00</strong></p>
                    </div>
                    <div class="small-10 medium-11 columns">
                        <dl>
                            <dt>Kleinesøndag på skolen</dt>
                            <dd>Fadderkomitéen fikser gratis egg og bacon til frokost!</dd></dl>
                    </div>

                </div></div>


        </div>
        <div class="medium-12 medium-centered columns utvalg-content-placement">
            <div class="row">
                <br />
                <div class="small-4 columns">
                    <div id="line" class="lineright"></div>
                </div>
                <div class="small-4 columns text-center">
                    <a data-magellan-destination="kart" name="kart"><h5><strong>Kart</strong></h5></a>
                </div>

                <div class="small-4 columns">
                    <div id="line" class="lineleft"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-11 columns small-centered hide-for-small">

            <iframe src="https://mapsengine.google.com/map/embed?mid=z5Ipoz82k22g.k6M2olnofro8" width="100%" height="480"></iframe>
        </div>

    </div>

    <div class="row">
        <div class="small-11 columns small-centered show-for-small">
            <div data-alert class="alert-box info radius">
                Trykk på bildet for å se fullt kart
                <a href="#" class="close">&times;</a>
            </div>
            <a href="https://mapsengine.google.com/map/edit?mid=z5Ipoz82k22g.k6M2olnofro8"><img src="@routes.Assets.versioned("images/gmaps-mobile.png")" alt="" /></a>

            <p>
                A: #fuBar<br />
                B: Andys Grønland <br />
                C: Asylet <br />
                D: Dattera til Hagen <br />
                E: Cafè Con Bar <br />
                F: People´s <br />
                G: Justisen <br />
                H: Fiasco <br />
                I: Hovedøya <br />

            </p>
        </div>
    </div>


    <div class="medium-12 medium-centered columns utvalg-content-placement">
        <div class="row">
            <br />
            <div class="small-4 columns">
                <div id="line" class="lineright"></div>
            </div>
            <div class="small-4 columns text-center">
                <a data-magellan-destination="grupper" name="grupper"><h5><strong>Grupper</strong></h5></a>
            </div>

            <div class="small-4 columns">
                <div id="line" class="lineleft"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="medium-10 columns medium-centered">
            <p>Her kan du søke etter faddere for å finne gruppenummer og kontaktinformasjon.</p>
        </div>
    </div>

    <div class="row">
        <div class="medium-10 columns medium-centered">
            <div class="row collapse">
                <div class="small-10 columns">
                    <input class="index-input" type="text" placeholder="Skriv inn navn eller gruppenummer">
                </div>
                <div class="small-2 columns">
                    <button class="button postfix index-search">Søk</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row guardian-container">

    </div>

    <!-- VULKAN -->
    <div class="content" id="panel2">

        <div class="medium-10 medium-centered columns text-center">
            <p>Oversikten for denne campusen er ikke klart</p>

        </div>

    </div>

    <!-- GRØNLAND -->
    <div class="content" id="panel3">
        <div class="medium-10 medium-centered columns text-center">
            <p>Oversikten for denne campusen er ikke klart</p>

        </div>
    </div>
    <script>
    $ ( document ).ready ( initiationSearch ( ) ) ;
    </script>

}
