@(query: String, groups: java.util.Map[Integer, java.util.List[InitiationGroup]])
<div class="row guardian-container">
    <div class="medium-10 medium-centered columns">
        @if(!groups.isEmpty) {
            <p><em>Søketreff på @(query):</em></p>

            @for(key <- groups.keySet()) {
                <ul class="pricing-table">
                    <li class="price">Gruppe @(key)</li>
                    <li class="description">Faddere med telefonnummer</li>
                    @for(contact <- groups.get(key)) {
                        @defining(contact.getGuardian) { guardian =>
                            @defining(guardian.getFirstName + " " + guardian.getLastName) { name =>
                                <li class="bullet-item">
                                    <h5>@if(guardian.getFirstName.toLowerCase.contains(query)) {
                                        <strong>} @guardian.getFirstName @if(guardian.getFirstName.toLowerCase.contains(query)) {</strong>} @if(guardian.getLastName.toLowerCase.contains(query)) {
                                        <strong>} @guardian.getLastName @if(guardian.getLastName.toLowerCase.contains(query)) {</strong>}</h5>
                                    <br/>
                                    tlf: <a href="tel:@contact.getPhoneNumber">@contact.getPhoneNumber</a>
                                </li>
                            }
                        }
                    }
                </ul>
            }
        } else {
            <p><em>Ingen søketreff på @(query)</em></p>
        }
    </div>
</div>