@(users: List[User])
<table>
    <tbody>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Picture</th>
            <th>Manage</th>
        </tr>
        @for(user <- users) {
            <tr>
                <td>@user.id</td>
                <td>@user.firstName</td>
                <td>@user.lastName</td>
                <td>@user.gender</td>
                <td>@user.email</td>
                <td><img src="@user.pictureUrl?sz=50"> </td>
                <td><a href="@routes.Users.delete(user.id)">Delete</a> </td>
            </tr>
        }
    </tbody>

</table>
