@(user: User, admin: Boolean)
@import utils.MembershipLevel

@main("Min profil") {

    <div class="row">
        <div class="medium-10 columns medium-centered text-center">
            <div class="medium-6 columns small-centered">
                <img class="profile-photo" src="@(user.pictureUrl)" alt="" />
            </div>
            <br /><br />
            <h1>@(user.firstName + " " + user.lastName)</h1>
            <h5><em>@user.email</em></h5>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 medium-centered columns utvalg-content-placement">
            <div class="row">
                <br />
                <div class="small-4 columns">
                    <div id="line" class="lineright"></div>
                </div>
                <div class="small-4 columns text-center">
                    <h5><strong>Oversikt<br /><br /></strong></h5>
                </div>

                <div class="small-4 columns">
                    <div id="line" class="lineleft"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @if(!user.memberships.isEmpty) {
            <div class="medium-4 columns text-center">
                <p><strong>Utvalg jeg er medlem av</strong></p>

                <div id="bold-line"></div>

                <ul class="no-bullet">
                @for(membership <- user.memberships) {
                    @if(membership.level.getLevel > 0) {
                        <li><a href="@routes.Clubs.show(membership.club.id)">@membership.club.name</a></li>
                    }
                }
                </ul>
            </div>
            <div class="medium-4 columns text-center">
                <p><strong>Utvalg jeg abbonerer på</strong></p>

                <div id="bold-line"></div>

                <ul class="no-bullet">
                @for(membership <- user.memberships) {
                    @if(membership.level.getLevel == 0) {
                        <li><a href="@routes.Clubs.show(membership.club.id)">@membership.club.name</a></li>
                    }
                }
                </ul>
            </div>
        }
        <div class="medium-4 columns text-center">
            <p><strong>Kommende eventer</strong></p>

            <div id="bold-line"></div>

            <ul class="no-bullet">
            @for(participation <- user.participations) {
                @if(participation.getRvsp) {
                    <li><a href="@routes.Events.show(participation.event.id)">@(participation.event.name)</a></li>
                }
            }
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="medium-8 columns medium-centered hide-for-medium-up">
            <div data-alert class="alert-box warning round">
                Vi kan dessverre garantere at admin-panelet fungerer på mobile enheter.
                <a href="#" class="close">&times;</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
            @if(admin) {
                <div class="medium-12 columns">
                    <a href="@routes.Administration.showSite()">Administrer nettsiden</a>
                </div>
            }
        @for(membership <- user.memberships) {
            @if(membership.level.getLevel >= MembershipLevel.BOARD.getLevel) {
                <div class="medium-12 columns">
                    <ul class="pricing-table">
                        <li class="title">@membership.level.getTitle</li>
                        <li class="price">@membership.club.name</li>
                        <li class="bullet-item">@membership.club.getNumberOfMembers medlemmer</li>
                        <li class="cta-button"><a class="button" href="@routes.Administration.showClub(membership.club.id)">Administrer</a></li>
                    </ul>
                </div>
            }
        }
        </div>
    </div>
    <a href="@routes.Users.logout()">Logout</a> | <a href="@routes.OAuth2.authenticate(1)">Refetch Data</a>
}