@(locations: java.util.List[Location])
@main("Utvalg") {

    <!-- Select club for small screens -->
    <div class="row">
        <div class="small-12 columns hide-for-medium-up">
            <dl class="accordion" data-accordion>
            @for(location <- locations) {
                <dd class="accordion-navigation">
                    <a href="#panel@location.getCssId">@location.getName</a>
                    <div id="panel@location.getCssId" class="content">
                        <dl>
                            @if(location.getClubs.isEmpty){
                                Denne lokasjonen har ingen utvalg.
                            }else{
                                @club.list(location.getClubs)
                            }
                        </dl>
                    </div>
                </dd>
            }
            </dl>
        </div>
    </div>
    <!-- CHOOSE UTVALG ON MEDIUM-UP SCREENS -->
    <div class="row">
        <div class="medium-10 small-centered columns show-for-medium-up">
            <ul class="tabs vertical" data-tab>
            @for(location <- locations) {
                <li class="utvalg-width tab-title@if(location.getCssId == 1) { active}"><a href="#panel@location.getCssId">@location.getName</a></li>
            }
            </ul>

            <div class="tabs-content vertical">
            @for(location <- locations) {
                <div class="content@if(location.getCssId == 1) { active}" id="panel@location.getCssId">
                    <dl>
                    @if(location.getClubs.isEmpty) {
                        Denne lokasjonen har ingen utvalg.
                    } else {
                        @club.list(location.getClubs)
                    }
                    </dl>
                </div>
            }
            </div>
        </div>
    </div>
}
