@(clubs: List[Club])
<div class="row">
    <div class="small-12 columns hide-for-medium-up">

        <dl class="accordion" data-accordion>
            <dd class="accordion-navigation">
                <a href="#panel1"> Vulkan </a>
                <div id="panel1" class="content">
                    <dl>)
                        <dt><a href="#">Filmutvalget</a></dt>
                        <dd>Vi lager film og har det gøy med kamera. Hurra! Kom å lek med oss, å få en kickstart på din karriere som regissør. VELDIG bra å ha på CV!! #yoloswag</dd>

                        <dt><a href="#">Forfatterutvalget</a></dt>
                        <dd>Dette er et ganske døllt utvalg, men vi håper du vil være venn med oss fordi. Du trenger ikke å være veldig flink til å skrive, og dyslektikere er også velkomne.</dd>

                        <dt><a href="#">Grafikerutvalget</a></dt>
                        <dd>Her er de hippeste på skolen medlem. Vi møtes to kvelder i uken, og lager fete poster, og leker oss med grafiske elementer. Bli med!</dd>
                    </dl>
                </div>
            </dd>
            <dd class="accordion-navigation">
                <a href="#panel2"> Grønland (NITH) </a>
                <div id="panel2" class="content">
                    <dl>
                        <dt><a href="#">#fuBar</a></dt>
                        <dd>Studentkroa er et sentralt sosialpunkt på skolen. De aller fleste arrangementer på skolen arrangeres på en eller annen måte i samarbeid med #fuBar.</dd>

                        <dt><a href="aug/index.html">AUG</a></dt>
                        <dd>Apple User Group representerer en gruppe studenter på skolen som har økt dramatisk i antall de siste par årene: Brukere av Apple-produkter.</dd>

                        <dt><a href="#">Utviklingsutvalget</a></dt>
                        <dd>Utviklingsutvalget har som hovedformål å heve studentenes kompetanse innenfor felt som ikke dekkes i den ordinære undervisningen ved NITH.</dd>
                    </dl>
                </div>
            </dd>

            <dd class="accordion-navigation">
                <a href="#panel3"> Grønland (NISS) </a>
                <div id="panel3" class="content">
                    <dl>
                        <dt><a href="#">Filmutvalget</a></dt>
                        <dd>Vi lager film og har det gøy med kamera. Hurra! Kom å lek med oss, å få en kickstart på din karriere som regissør. VELDIG bra å ha på CV!! #yoloswag</dd>

                        <dt><a href="#">Forfatterutvalget</a></dt>
                        <dd>Dette er et ganske døllt utvalg, men vi håper du vil være venn med oss fordi. Du trenger ikke å være veldig flink til å skrive, og dyslektikere er også velkomne.</dd>

                        <dt><a href="#">Grafikerutvalget</a></dt>
                        <dd>Her er de hippeste på skolen medlem. Vi møtes to kvelder i uken, og lager fete poster, og leker oss med grafiske elementer. Bli med!</dd>
                    </dl>
                </div>
            </dd>
        </dl>

    </div>
</div>

<!-- CHOOSE UTVALG ON MEDIUM-UP SCREENS -->
<div class="row">
    <div class="medium-10 small-centered columns show-for-medium-up">
        <ul class="tabs vertical" data-tab>
            <li class="utvalg-width tab-title active"><a href="#panel1">Vulkan</a></li>
            <li class="utvalg-width tab-title"><a href="#panel2">Grønland (NITH)</a></li>
            <li class="utvalg-width tab-title"><a href="#panel3">Grønland (NISS)</a></li>
        </ul>
        <div class="tabs-content vertical">
            <div class="content active" id="panel1">

                    <!-- UTVALG FOR WESTERDALS -->
                <dl>
                    <dt><a href="#">Filmutvalget</a></dt>
                    <dd>Vi lager film og har det gøy med kamera. Hurra! Kom å lek med oss, å få en kickstart på din karriere som regissør. VELDIG bra å ha på CV!! #yoloswag</dd>

                    <dt><a href="#">Forfatterutvalget</a></dt>
                    <dd>Dette er et ganske døllt utvalg, men vi håper du vil være venn med oss fordi. Du trenger ikke å være veldig flink til å skrive, og dyslektikere er også velkomne.</dd>

                    <dt><a href="#">Grafikerutvalget</a></dt>
                    <dd>Her er de hippeste på skolen medlem. Vi møtes to kvelder i uken, og lager fete poster, og leker oss med grafiske elementer. Bli med!</dd>
                </dl>

            </div>
            <div class="content" id="panel2">

                    <!-- UTVALG FOR GRØNLAND (NITH) -->
                <dl>
                    <dl>
                        <dt><a href="#">#fuBar</a></dt>
                        <dd>Studentkroa er et sentralt sosialpunkt på skolen. De aller fleste arrangementer på skolen arrangeres på en eller annen måte i samarbeid med #fuBar.</dd>

                        <dt><a href="aug/index.html">AUG</a></dt>
                        <dd>Apple User Group representerer en gruppe studenter på skolen som har økt dramatisk i antall de siste par årene: Brukere av Apple-produkter.</dd>

                        <dt><a href="#">Utviklingsutvalget</a></dt>
                        <dd>Utviklingsutvalget har som hovedformål å heve studentenes kompetanse innenfor felt som ikke dekkes i den ordinære undervisningen ved NITH.</dd>
                    </dl>
                </dl>
            </div>
            <div class="content" id="panel3">
                <dl>
                    <dt><a href="#">Filmutvalget</a></dt>
                    <dd>Vi lager film og har det gøy med kamera. Hurra! Kom å lek med oss, å få en kickstart på din karriere som regissør. VELDIG bra å ha på CV!! #yoloswag</dd>

                    <dt><a href="#">Forfatterutvalget</a></dt>
                    <dd>Dette er et ganske døllt utvalg, men vi håper du vil være venn med oss fordi. Du trenger ikke å være veldig flink til å skrive, og dyslektikere er også velkomne.</dd>

                    <dt><a href="#">Grafikerutvalget</a></dt>
                    <dd>Her er de hippeste på skolen medlem. Vi møtes to kvelder i uken, og lager fete poster, og leker oss med grafiske elementer. Bli med!</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
