@import models.clubs.Club
@import views.html.club._description
@(club: Club)

@main(club.getName) {

    <div class="medium-10 columns medium-centered">
        <div data-magellan-expedition="fixed" class="">
            <dl class="sub-nav">
                <dd data-magellan-arrival="2" class=""><a href="#description">Om utvalget</a></dd>
                <dd data-magellan-arrival="3" class=""><a href="#board">Styret</a></dd>
                <dd data-magellan-arrival="4"><a href="#events">Eventer</a></dd>
                <dd data-magellan-arrival="7"><a href="#feed">Feed</a></dd>
                <dd data-magellan-arrival="5"><a href="#join">Innmelding</a></dd>
            </dl>
        </div>

        @_image(club.getUploadedFile)

        @_description(club.getDescription)
    </div>

}
