@import models.clubs.Club
@(club: Club)

@main(club.getName) {
    <div class="powerup-container" data-powerups-for='@club.getId'>
        @for(powerup <- club.getPowerups) {
            <div class="row powerup" data-powerup-id="@powerup.getModel.getId">
                <div class="medium-10 medium-centered columns">
                    @if(powerup.getModel.isHasMenuEntry) {
                        <div class="small-4 columns">
                            <div id="line" class="lineright"></div>
                        </div>
                        <div class="small-4 columns text-center">
                            <h5><strong>@powerup.getModel.getFriendlyName </strong><br /> <br /></h5>
                        </div>

                        <div class="small-4 columns">
                            <div id="line" class="lineleft"></div>
                        </div>
                    }
                <div class="powerup-content medium-12 columns">
                @powerup.render()
                </div>
                </div>
            </div>

        }
        <script>
        $ ( document ).ready ( powerup ( ) ) ;
        //noinspection BadExpressionStatementJS
        $ ( '#alt-title' ).replaceWith ("<strong>@(club.getShortName)</strong>");
        </script>
    </div>

}
