@(title: String)(implicit user: User = User.findById(session.get("id")))
<div id="backgroundimglarge-underpage"></div>

<!-- HEADER TEXT -->
<div class="row">
    <div class="small-12 small-centered columns headercolumn-underpage text-center">
        <a href='@routes.Application.index()'>
            <h2 class="headertext"><strong>Studentportal for</strong></h2>
            <h3 class="headertext"><em>Westerdals ACT Oslo</em></h3>
        </a>
    </div>
</div>

<!-- LINKS ON SMALL SCREENS -->
<div class="row text-center hide-for-medium-up buttonpanel-underpage">
    <div class="small-4 columns ">
        <a class="headertext" href="@routes.Events.index()">Eventer </a>
    </div>

    <div class="small-4 columns ">
        <a class="headertext" href='@routes.Clubs.index()'>Utvalg </a>
    </div>

    <div class="small-4 columns ">
        <a class="headertext" href="../feed/index.html">Feed </a>
    </div>

    @if(user != null) {
        <div class="small-4 columns  buttonpanelsmall">
            <a class="headertext" href="@routes.Users.profile()">Profil </a>
        </div>
    } else {
        <div class="small-4 columns  buttonpanelsmall">
            <a class="headertext" href='@routes.OAuth2.authenticate()'>Login </a>
        </div>
    }

    <div class="small-4 columns  buttonpanelsmall">
        <a class="headertext" href="../fadderuka/index.html">Fadderuka</a>
    </div>

</div>

<!-- LINKS ON LARGE SCREENS -->
<div class="row text-center show-for-medium-up buttonpanellarge-underpage">
    <div class="medium-9 medium-centered columns">
        <div class="medium-2 columns">
            <a class="headertext" href="@routes.Events.index()">Eventer </a>
        </div>

        <div class="medium-2 columns">
            <a class="headertext" href='@routes.Clubs.index()'>Utvalg </a>
        </div>

        <div class="medium-2 columns">
            <a class="headertext" href="../feed/index.html">Feed </a>
        </div>

        <div class="medium-2 columns">
            <a class="headertext" href="../fadderuke/index.html">Fadderuka </a>
        </div>
        @if(user != null) {
            <div class="medium-4 columns left">
                <a class="headertext" href="@routes.Users.profile()">Profil </a>
            </div>
        } else {
            <div class="medium-4 columns left">
                <a class="headertext" href='@routes.OAuth2.login()'>Login </a>
            </div>
        }
    </div>
</div>
<div class="row">
    <br />
    <div class="small-4 columns">
        <div id="line" class="lineright"></div>
    </div>
    <div class="small-4 columns text-center show-for-medium-up">
        <h4><strong>@title<br /> <br /></strong></h4>
    </div>
    <div class="small-4 columns text-center hide-for-medium-up">
        <h4><strong id="alt-title">@title<br /> <br /></strong></h4>
    </div>
    <div class="small-4 columns">
        <div id="line" class="lineleft"></div>
    </div>
</div>